body {
    background-color: darkslategrey;
}

h1, h2, h3 {
    font-family: Georgia, serif;
    color: white;
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: azure;
}

li:active {
    color: aquamarine;
}

.portfolio-item  {
    margin-top: 5px;
    margin-bottom: 5px;
}

.jumbotron-custom {
    background-size: cover;
    padding-left: 10px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.nav-custom {
    background-color: none;
    font-size: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
}