.thumbnail  {
    margin-top: 5px;
    margin-bottom: 5px;
}

.intro-img img {
    display: block;
    margin: auto;
}

.intro-content {
    margin: auto;
}

h1, h2, h3, p {
    font-family: 'Quicksand', sans-serif;
}

ul li {
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    font-family: 'Kaushan Script', cursive;
}

