#headerstyle {
	font-family: Georgia, serif;
	color: #eeeeee;
}

.jumbotron {
	background:transparent;
}

.dropdown-menu {
  width: 100%; 
}

.btn{
 width: 100%;
}

nav {
	font-size:large;
	font-family: Georgia, serif;
	text-transform: uppercase;
}

a {
	color:#00cccc;
}

h3 {
	color:#0080ff;
	font-family: Georgia, serif;
}

h4 {
	color:#0066ff;
	font-family: Georgia, serif;	
}

body {
	background-color: #444444;
}

li {
	color: #cccccc;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

p {
	color: #cccccc;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}