body {
	background-color: #cccccc;
}

h1 {
	text-align: center;
	color: #00b359;
}

div {
	text-align: justify;
}

p {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding-left: 2cm;
	padding-right: 2cm;
}