body {
	background-color: #333333;
}

h1 {
	text-align: center;
	color: white;
}

div {
	text-align: justify;
}

p {
	color: #eeeeee;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding-left: 2cm;
	padding-right: 2cm;
}